

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

    body {
        font-family: 'Space Mono', monospace;
        max-width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 0;
        margin: 0;
    }

   
   
    
   
  
